input {
    margin: 3px;
    font-family: sans-serif;
}

.task {
    border: solid 2px rgb(245, 240, 240);
    margin-top: 5px;
    margin-bottom: 5px;
}

.append-button {
    background-color: rgb(132, 185, 132);
}

.page-validator {
    position: fixed;
    bottom: 2px;
    right: 2px;
    font-size: 18px;
    opacity: 50%;
    max-width: max-content;
}