#menu-bar {
    padding: 4px;
    margin-bottom: 20px;
    color: white;
    background-color: #29B6F6;
    overflow: hidden;
    font-family: sans-serif;
}

#menu-bar a {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    opacity: 70%;
}

#menu-bar-left-side {
    width: 80%;
    float: left;
    vertical-align: middle;
}

#sign-out {
    background-color: white;
    color: black;
}

#menu-bar-right-side {
    width: 12%;
    float: right;
}

#right-side-reset-button {
    background-color: white;
    border: #C5CAE9 solid 2px;
    color: #C5CAE9;
    margin: 10px;
}

#right-side-submit-button {
    background-color: white;
    color: orange;
    border: orange solid 2px;
    margin: 10px;
}

#right-side-add-button {
    background-color: white;
    border: lightblue solid 2px;
    color: lightblue;
    margin: 10px;
}

#logo-text {
    padding: 10px;
    margin-right: 20px;
    font-size: 30px;
}

.vertical-line {
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 300;
}

#content {
    width: 80%;
    margin: auto;
}

#form-name {
    font-size: 25px;
    font-family: sans-serif;
    opacity: 70%;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

#suppliers {
    width: 100%;
    padding: 10px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

input[type=submit],
input[type=reset] {
    background-color: #039BE5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: fit-content;
}

input[type=submit]:hover {
    background-color: #45a049;
}

#left-form {
    padding: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    opacity: 80%;
    float: left;
    width: 45%;
}

#left-form div {
    margin-bottom: 20px
}

#left-form small {
    font-size: 15pt;
    opacity: 60%;
}

#right-form {
    padding: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    opacity: 80%;
    float: right;
    width: 45%;
}

#right-form div {
    margin-bottom: 20px
}

#right-form small {
    font-size: 15pt;
    opacity: 60%;
}

span {
    vertical-align: middle;
}