<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" type="text/css" href="../css/styleme.css">
</head>

<body>
    <div id="wrapper">
        <header>
            <h1 class="mainHeader">About Kaleab T Ero</h1>
            <br>
            <p>I am Kaleab Ero and I'm <strong>uncomplicated , and strongly hate lies</strong> </p>
        </header>
        <hr>
        <section>
            <h2>I took the following courses from MIU</h2>
            <ul>
                <li>CS390: Fundamantal Programming Practices</li>
                <li>CS401: Modern Programming Practices</li>
                <li>CS435: Algorithms</li>
                <li>CS472: Web Programming</li>
                <li>CS544: Enterprise Architecture</li>
                <li>CS572: Modern Web Application</li>
            </ul>

            <h2>My Favoriate Movies</h2>
            <P class="ItalicParagraphHeader">I love to watch movies , here are some I loved</P>
            <ol>
                <li>Lucy<a href="https://www.imdb.com/title/tt2872732/"> (IMDB)</a></li>
                <li>The bourne Identity<a href="https://www.imdb.com/title/tt0258463/"> (IMDB)</a></li>
                <li>The bourne Supremancy<a href="https://www.imdb.com/title/tt0372183/?ref_=nv_sr_srsg_0"> (IMDB)</a></li>
                <li>Taken<a href="https://www.imdb.com/title/tt0936501/?ref_=fn_al_tt_1"> (IMDB)</a></li>
                <li>Taken 2<a href="https://www.imdb.com/title/tt1397280/?ref_=nv_sr_srsg_0"> (IMDB)</a></li>
            </ol>

            <h2>My Moods</h2>
            <span class="pInline">Happy:</span>
            <img src="../images/Happy-Dogs-playing.png" alt="I like how my the way my dog become happy" class="img1">
            <span class="pInline">Sad:</span>
            <img src="../images/sadme.jpg" alt="When I feel sad i prefer to be silent" class="img2">

            <h2>Fun Facts About My Colleagues</h2>
            <ul>
                <li>Girma Teklemariam is kind of guy who <em>play ping pong like field tennis</em>:)</li>
                <li>Tadiyos Girma : He is kind of guy <em>who got a third eye to see things from unexpected dimension</em></li>
            </ul>
        </section>
        <footer>
            <span>
                    <a href="https://validator.w3.org/check/referer">
                        <img src="../images/validator_logo.png" alt="validator logo">
                    </a>
            </span>
            <span>
                <a href="https://jigsaw.w3.org/css-validator/check/referer">
                <img src="../images/validate_css.jpg" alt="Valid CSS!"/>
                </a>
                </span>
        </footer>
    </div>
</body>

</html>