<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/scripts.css">
    <title>Document</title>
</head>

<body>
    <div class="task">
        <p>Maxmimum of Two</p>
        <input id="input-1" type="text">
        <input id="input-2" type="text">
        <button id="max-of-two">Calculate Max</button>
        <br />
        <br />
        <div>
            <span>Maximum No is :  </span>
            <label id="result1"></label>
        </div>

    </div>

    <div class="task">
        <p>Maxmimum of Three</p>
        <input id="input-3" type="text">
        <input id="input-4" type="text">
        <input id="input-5" type="text">
        <button id="max-of-three">Calculate Max</button>
        <br />
        <br />
        <div>
            <span>Maximum No is :  </span>
            <label id="result2"></label>
        </div>

    </div>

    <div class="task">
        <p>Check a character is vowel or not</p>
        <input id="input-6" type="text">
        <button id="is-vowel">Is Vowel</button>
        <br />
        <br />
        <div>
            <span>Character  :  </span>
            <label id="result3"></label>
        </div>

    </div>

    <div class="task">
        <p>SUM , Multplication</p>
        <input id="input-7" type="text">
        <button class="append-button" id="add-element">Append New Input</button>
        <button id="sum">SUM</button>
        <button id="multiply">Multiply</button>
        <button id="sum-of-squares">Sum of Squares</button>
        <button id="print-odd">Prints Odd</button>
        <button id="multiply-reduce">Multiply Using Reduce</button>
        <button id="sum-reduce">Multiply Using Reduce</button>
        <button id="second-biggest">Second Biggest</button>
        <br />
        <br />
        <div>
            <span>Input  :  </span>
            <label id="array-elements"></label>
        </div>
        <div>
            <span>Result  :  </span>
            <label id="result4"></label>
        </div>

    </div>

    <div class="task">
        <p>Reversing a String</p>
        <input id="input-9" type="text">
        <button id="reverse">Reverse</button>
        <br />
        <br />
        <div>
            <span>This is the reversed String  :  </span>
            <label id="result6"></label>
        </div>

    </div>

    <div class="task">
        <p>String Array Manipulation</p>
        <input id="input-10" type="text">
        <button class="append-button" id="add-element-3">Append String Input</button>
        <button id="get-longest">Get Longest String</button>
        <br />
        <br />
        <div>
            <span>Input  :  </span>
            <label id="array-elements-3"></label>
        </div>
        <div>
            <span>Result :  </span>
            <label id="result7"></label>
        </div>

    </div>

    <div class="task">
        <input id="input-11" type="text">
        <input id="input-12" type="text" placeholder="put minimum string length">
        <button class="append-button" id="add-element-4">Append String Input</button>
        <button id="get-longest-list">Get Longest String List</button>
        <br />
        <br />
        <div>
            <span>These are the elements of your array  :  </span>
            <label id="array-elements-4"></label>
        </div>
        <div>
            <span>This longest list of words are :  </span>
            <label id="result8"></label>
        </div>

    </div>

    <div class="task">
        <input id="input-13" type="text" placeholder="how many elements">
        <input id="input-14" type="text" placeholder="put 0th element">
        <input id="input-15" type="text" placeholder="put 1st element">
        <button id="generate-fib">Generate Fib List</button>
        <br />
        <br />
        <div>
            <span>Generated Serious :  </span>
            <label id="result10"></label>
        </div>

    </div>
    <script src="../js/week_two_scripts.js"></script>
</body>

</html>