<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Form 2</title>
    <link rel="stylesheet" type="text/css" href="../css/web_form_2.css">
</head>

<body>
    <div id="menu-bar">
        <div id="menu-bar-left-side">
            <span id="logo-text">MUM Golden Dom Market : : : SRM System  </span>
            <span class="vertical-line">|</span>
            <a href="#"> Products</a>
            <span class="vertical-line">|</span>
            <a href="#"> Suppliers</a>
        </div>

        <div id="menu-bar-right-side">
            <span>Hello!</span>
            <input id="sign-out" type="submit" value="Sign Out">
        </div>
    </div>
    <div id="content">
        <p id="form-name">New Product Form</p>
        <div id="left-form">
            <form>
                <div id="email-group">
                    <label for="email">Product Number</label>
                    <input type="text" id="email" name="email" placeholder="Your email.." required>
                </div>

                <div id="email-group">
                    <label for="email">Name</label>
                    <input type="text" id="email" name="email" placeholder="Your email.." required>
                </div>

                <div id="email-group">
                    <label for="email">Unit Price</label>
                    <input type="text" id="email" name="email" placeholder="Your email.." required>
                </div>

            </form>
        </div>

        <div id="right-form">
            <form action="/action_page.php">
                <div id="email-group">
                    <label for="email">Quantity in Stock</label>
                    <input type="text" id="email" name="email" placeholder="Your email.." required>
                </div>

                <div id="email-group">
                    <label for="email">Select A Supplier</label>
                    <input type="text" id="email" name="email" placeholder="Your email.." required>
                </div>

                <div id="email-group">
                    <label for="email">Date Supplied</label>
                    <input type="text" id="email" name="email" placeholder="Your email.." required>
                </div>

                <input id="right-side-reset-button" type="reset" value="Reset">
                <input id="right-side-submit-button" type="submit" value="Cancel">
                <input id="right-side-add-button" type="submit" value="Add Product">
            </form>
        </div>
    </div>


</body>

</html>