<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Form 2</title>
    <link rel="stylesheet" type="text/css" href="../css/web_form_2.css">
</head>

<body>

    <!-- 
        This document have two main div elements
        - menu-bar 
        - content 
            - left form
            - right form
        - submit buttons are found on the right side of content
     -->

    <div id="menu-bar">
        <div id="menu-bar-left-side">
            <span id="logo-text">MUM Golden Dom Market : : : SRM System  </span>
            <span class="vertical-line">|</span>
            <a href="#"> Products</a>
            <span class="vertical-line">|</span>
            <a href="#"> Suppliers</a>
        </div>

        <div id="menu-bar-right-side">
            <span>Hello!</span>
            <input id="sign-out" type="submit" value="Sign Out">
        </div>
    </div>
    <div id="content">
        <p id="form-name">New Product Form</p>
        <div id="left-form">
            <form>
                <div>
                    <label for="pName">Product Number</label>
                    <input type="text" id="pName" name="productName" required>
                </div>

                <div>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required>
                </div>

                <div>
                    <label for="uPrice">Unit Price</label>
                    <input type="text" id="uPrice" name="unit-price" placeholder="0.0" required>
                </div>

            </form>
        </div>

        <div id="right-form">
            <form action="/action_page.php">
                <div>
                    <label for="quaStock">Quantity in Stock</label>
                    <input type="text" id="quaStock" name="quantityInStock" placeholder="0" required>
                </div>

                <div>
                    <label for="suppliers">Select A Supplier</label>
                    <div>
                        <select id="suppliers">
                            <option value="UNESCO">Volvo</option>
                            <option value="Maternal Health">Saab</option>
                            <option value="Jimma Hub">Mercedes</option>
                            <option value="Center Hub">Audi</option>
                          </select>
                    </div>
                </div>

                <div>
                    <label for="date">Date Supplied</label>
                    <input type="text" id="date" name="date-supplied" required>
                </div>

                <input id="right-side-reset-button" type="reset" value="Reset">
                <input id="right-side-submit-button" type="submit" value="Cancel">
                <input id="right-side-add-button" type="submit" value="Add Product">
            </form>
        </div>
    </div>

    <div class="page-validator">
        <a href="https://validator.w3.org/check/referer"><img src="../images/validator_logo.png" alt="Valid HTML5" /></a> <br />
        <a href="https://jigsaw.w3.org/css-validator/check/referer"><img src="../images/validate_css.jpg" alt="Valid CSS" /></a>
    </div>

</body>

</html>